<html>

<head>
    <title> Phonebook Interface </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h2> A Simple Phonebook single page app </h2>
            <p>You can add a new contact or update or delete that stored</p>
        </div>
        <fieldset>
            <legend>Add new contact</legend>
            <form class="form-inline" action="/api/contact" method="POST">
                <div class="row">
                    <div class="col-sm-3">
                        <div class='form-group'>
                            <label>Name:</label><br/>
                            <input type="text" name="name" class="form-control" placeholder="Enter name" required>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class='form-group'>
                            <label>Phone Number (format: +xxx...):</label><br/>
                            <input type="tel" name="phone_number" class="form-control" placeholder="Enter Phone number" type="tel" pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" required>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class='form-group'>
                            <label>Address:</label><br/>
                            <input type="text" name="address" class="form-control" placeholder="Enter Address">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class='form-group'>
                            <button class="btn btn-primary"> Add Contact </button>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>

        <fieldset>
            <legend>Contacts list</legend>
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Phone number</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
                <% for( var i = 0; i < contacts.length; i++){ %>
                    <tr>
                        <th scope="row">
                            <%= i %>
                        </th>
                        <td>
                            <%= contacts[i].name %>
                        </td>
                        <td>
                            <%= contacts[i].phone_number %>
                        </td>
                        <td>
                            <%= contacts[i].address %>
                        </td>
                        <td>
                            <a id="updateBtn" class="btn btn-warning btn-sm glyphicon glyphicon-edit" onclick='showUpdate("<%=i%>", "<%=contacts[i].name%>", "<%=contacts[i].phone_number%>", "<%=contacts[i].address%>")'> </a>
                            <form method="POST" action="/api/contact/" enctype="application/x-www-form-urlencoded" style="float: right; margin-block-end: 0px;">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="id" value="<%=i%>">
                                <button class="btn btn-danger btn-sm glyphicon glyphicon-trash" type="submit"> </button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </fieldset>

        <div id="updateContact" class="collapse">
            <legend>Edit contact #<span id="itemIndex"></span></legend>
            <form class="form-inline" action="/api/contact" method="POST" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="_method" value="PUT">
                <input id="editIdField" type="hidden" name="id" value="">
                <div class="row">
                    <div class="col-sm-3">
                        <div class='form-group'>
                            <label>Name:</label><br/>
                            <input id="editNameField" type="text" name="name" class="form-control" placeholder="Enter name" required>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class='form-group'>
                            <label>Phone Number (format: +xxx...):</label><br/>
                            <input id="editPhoneField" type="tel" name="phone_number" class="form-control" placeholder="Enter Phone number" type="tel" pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" required>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class='form-group'>
                            <label>Address:</label><br/>
                            <input id="editAddrField" type="text" name="address" class="form-control" placeholder="Enter Address">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class='form-group'>
                            <button class="btn btn-primary type=" submit "> Update Contact </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

<script type="text/javascript ">
    function showUpdate(index, name, phone_number, address) {
        if ($("#updateContact ").is(":hidden ")) {
            $("#updateContact ").slideDown("slow ", function() {
                // Update the fields
                $("#itemIndex ").html(index); $("#editIdField ").val(index); $("#editNameField ").val(name); $("#editPhoneField ").val(phone_number); $("#editAddrField ").val(address);
            });
        } else {
            $("#updateContact ").slideToggle("3000 ", function(){
                $("#itemIndex ").html(" "); $("#editIdField ").val(" "); $("#editNameField ").val(" "); $("#editPhoneField ").val(" "); $("#editAddrField ").val(" ");
            });
        }
    }
</script>
<script src="/js/jquery-3.3.1.min.js "></script>
</html>